body{
    background-color: rgb(255, 255, 255);
    font-family: 'Aleo', serif;
    
}


.logo-imgage{
    width: 250px;
    display: block;
    margin: auto;

}

#title{
    text-align: center;
}


ul{
    background-color:rgb(253, 196, 177) ;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    position: relative;
    top: 20px;
    
}

li{
    font-size: 24px;
    display: inline;
    margin: 30px;
    color: black;
   

}

a{
    text-decoration: none;   
    color: black;
}



.presentacion{
    font-size: 22px;
    text-align: center;
    margin-top: 30px;

}

.contenedor{
    display: flex;  
    justify-content: space-around;  
}

.p-img{
    width: 300px;
    height: 150px;
}


#cuadro{
    background-color: rgb(255, 255, 149);
    width: 300px;
    height: 350px;
    border-radius: 5px;
    text-align: center;

}



.t-img{  
    margin-right: 50px;
    width: 100px;
    height: 100px;
}

.c-img{
    width: 300px;
    height: 250px;
    text-align: justify;
    margin: 30px;
}

section{
    margin-bottom: 80px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

h1{
    font-size: 28px;
}

.d-tecno{
    margin-bottom: 50px;
}

#m-cont{
    display: flex;
    justify-content: center;
   
}

#m-cont, p{
    position: relative;
    top: 5px;
    left: 5px;

}

#contacto{
    background-color: rgb(236, 168, 145);

}

.logo-lin{
    width: 40px;
    position: relative;
    left: 10px;
    /* bottom: 50px; */
}

.logo-mail{
    width: 40px;
    position: relative;
    right: 30px;

}

footer{  
    text-align: center;
    
}
